@use "./rainbow.scss";
@use "./vars.scss";
@use "./overrides.scss";
@use "./medium-zoom.scss";
@use "./tailwind.scss";
@use "./site.scss"; // 前端生态页面导航样式 - 把右侧侧边栏放到左边
@use "./blockquote.scss";
// @use "./blur.scss"; // 毛玻璃效果 暂不使用
@use "./marker.scss";
@use "./vp-code.scss";
@use "./vp-code-group.scss";
@use "./task-list.scss";

// NProgress 进度条样式
.nprogress .bar {
  background: var(--vp-c-brand-1) !important;
}

.nprogress .spinner-icon {
  border-top-color: var(--vp-c-brand-1) !important;
  border-left-color: var(--vp-c-brand-1) !important;
}

.nprogress .peg {
  box-shadow: 0 0 10px var(--vp-c-brand-1), 0 0 5px var(--vp-c-brand-1) !important;
}
